body {
  font-family:"Tomorrow";
  font-size: 20px;
}

h1{
  text-align: center;
  color:green;
}

h3{
  position: relative;
  top: 10px;
  margin-bottom: -10px;
}

ul li {
  padding: 10px 0px;
}

#aboutme{
  background: url("../pictures/about-me.jpg");
}

#projects{
  background: url("../pictures/projects.jpg");
}

#contacts{
  background: url("../pictures/contact.jpg");
}

#work{
  background: url("../pictures/work.jpg");
}
#home{
  background: url("../pictures/home.jpg");
}

#back{
   position: absolute;
   width:9%;
   background: black;
   right: 30px;
   top: 30px;
}

#contact {
  position: relative;
  margin: auto;
  width: 25%;
  top: 650px;
  text-align: center;
  background: black;
  color: white;
}

#title{
  text-align:center;
}

.aboutme, .background, .projects, .work {
  background: black;
  color: red;
}

 a{
  color: red;
  text-decoration: none;
  font-size: 25px;
}

 a:hover{
  opacity: 0.7;
}


.aboutme {
  position: absolute;
  top: 30px;
  left: 30px;
}

.background{
  background: black;
  position: relative;
  width: 35vw;
  color: green;
  left: 80px;
  border-radius: 20px;
}

.contact{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.fa-facebook, .fa-github, .fa-instagram, .fa-linkedin, .fa-youtube {
  padding: 8px;
  font-size: 45px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.skills{
  background: black;
  position: relative;
  width: 35vw;
  color: green;
  left: 1168px;
  top: 250px;
  border-radius: 20px;
}

.top{
  height: 75px;
}

.projects {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.work {
  position: absolute;
  top: 30px;
  right: 30px;
}
